svg(style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
	defs
		symbol#icon-arrow_left(viewBox="0 0 24 24")
			path(d="M15.422 16.078l-1.406 1.406-6-6 6-6 1.406 1.406-4.594 4.594z")
		symbol#icon-arrow_right(viewBox="0 0 24 24")
			path(d="M8.578 16.359l4.594-4.594-4.594-4.594 1.406-1.406 6 6-6 6z")
